{% extends 'base.html' %}

{% block title %}password changed{% endblock %}

{% block content %}
    <div class="pResetDiv">
         <div id="content" class="colM">
          <h1 class="formTitle">Password reset complete</h1>
             <hr>
            <p class="formInstructions" style="text-align: left">
                Your password has been set.  You may go ahead and log in now.
                <a href="{% url "account:login-page" %}"><button class="submitbutton"> Log In</button></a>
            </p>
          <br class="clear">
        </div>
    </div>
{% endblock %}