{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

  <section class="py-5 text-center container">
    <main class="pt-5">
    <div class="row py-lg-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" alert="{{ message.tags }}" role="alert">
                <p style="text-align: center">{{message}}</p>
            </div>
        {% endfor %}
    {% endif %}
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Find your Loyal Friend</h1>
        <p class="lead text-muted">Shop for quality and affordable books online and get them delivered within a day.</p>
        <p>
          {% if request.user.is_authenticated %}
          {% else %}
          <a href="{% url 'account:register-page' %}" class="homeButton">Register</a>
          {% endif %}
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">All Books</div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
          {% if not products %}
          <div class="col-12">There are currently no products active</div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
          {% else %}
              {% for item in products %}
                <div class="col">
                  <div class="card shadow-sm">
                      <div style="border-radius: 2px">
                          <img  style="object-fit: contain;border-radius: 5px;height: 250px;width: 100%" alt="Responsive image" src="{{ item.image.url }}">
                      </div>
                    <div class="card-body">
                      <p class="card-text" style="line-height: 20px;max-height: 20px;overflow: hidden">
                        <a class="text-dark text-decoration-none" href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <small class="text-muted" style="line-height: 20px;max-height: 20px;overflow: hidden">Ksh.{{ item.price }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
          </div>
          {% endif %}
          </div>
    </div>
  </div>

{% endblock %}