{% extends "base.html" %}
{% load static %}
{% block title %}Place order{% endblock %}
{% block content %}
<style>
  .account-form, input
    {
    border: 2px solid rgba(128, 0, 128, 0.56);
    height: calc(2em + .75rem + 2px);
    }

  .form-control {
    border: 2px solid rgba(128, 0, 128, 0.56);
  }

  .account-form input:focus {
    border-color: purple;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(255, 0, 0, 0.6);
  }
  #payInput{
      border-radius: 0;
      border: none;
      border-bottom: 2px solid green;
      margin-top: 10px;
  }
</style>

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
              {% if messages %}
                <div class="alert alert-success" alert="{{ message.tags }}" role="alert">
                    {% for message in messages %}
                        {{message}}
                    {% endfor %}
                </div>
            {% endif %}
            <div id="payment-form" class="col-12 col-lg-6 mx-auto">
              <h3 class="mb-3">Billing address</h3>
              <!-- Error messages in this element -->
              <div id="card-errors" class="a" role="alert"></div>
              <form action="" method="post">
                  {% csrf_token %}
                <div class="row g-3">
                  <div class="col-sm-7">
                    <label for="firstName" class="form-label">Customer Name</label>
                    <input type="text" class="form-control" id="custName" placeholder="James Matata" required>
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                      Please enter a valid email address for shipping updates.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="address" class="form-label">Delivery-Point</label>
                    <input type="text" class="form-control" id="custAdd" placeholder="Nairobi CBD" required>
                    <div class="invalid-feedback">
                      Please enter your shipping address.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="address2" class="form-label">Delivery-Point 2 <span
                        class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="custAdd2" placeholder="Institution or Apartment">
                  </div>
                  <div class="col-md-4">
                    <label for="state" class="form-label">County</label>
                    <select class="form-select" id="state" required>
                        <option value="">Choose...</option>
                        <option>Nairobi</option>
                        <option>Machakos</option>
                        <option>Mombasa</option>
                        <option>Kiambu</option>
                    </select>
                    <div class="invalid-feedback">
                      Please provide a valid county.
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <h4 class="mb-3">Payment</h4>
                <label for="card-element">M-pesa Number</label>
                <div>
                   <input class="form-control" id="payInput" type="tel" placeholder="Enter your number" name="phone_number"/>
                </div>
                <hr class="my-4">
                <button id="submit" type="submit" class="btn btn-primary w-100 fw-bold" style="background-color: green;border: none">Pay</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}